<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IEnsure_Agent" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.1.2.69/Ensure_Agent.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IEnsure_Agent" contract="Ensure_Agent.IEnsure_Agent"
                name="BasicHttpBinding_IEnsure_Agent" />
        </client>
    </system.serviceModel>
</configuration>